<a href="https://colab.research.google.com/github/flavjoxhelollari/CS480-Artificial-Intelligence/blob/main/DiabetesSVMPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing the neccessary libraries

import numpy as np
import pandas as pd
# We want the data to be in the same range -> Standartize the data
from sklearn.preprocessing import StandardScaler 
# Use this to split the data
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [ ]:
# Data Collection and Analysis

# Loading the dataset to a Pandas dataframe
diabetes_dataset = pd.read_csv('/content/diabetes.csv')
# Note: U can use pd.read_csv

# Printing the head of data
diabetes_dataset.head() # data is either 1 or 0

# get the nr of rows and columns i.e. size of dataset
diabetes_dataset.shape

(768, 9)

In [ ]:
# getting the statistical measures of the data
diabetes_dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
# outcome checking how many diabetic 1 and nondiabetic 0
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
# Get the mean for all values for label 0 and 1 
# Group dataset by label -> Good practice
diabetes_dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [ ]:
# separating data and labels
X = diabetes_dataset.drop(columns = 'Outcome', axis = 1)
Y = diabetes_dataset['Outcome']
print(X)
print(Y)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
# Data standartization for better prediction
scaler = StandardScaler()

In [ ]:
scaler.fit(X) #

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
# We are fitting all the outliers in the range 
# using the built in StandardScaler function
# then we transform the outliers to inside range
standardized_data = scaler.transform(X)

In [ ]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [ ]:
# We use X and Y for training
# X-> data, Y-> model
 
X = standardized_data
Y = diabetes_dataset['Outcome']

In [ ]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
# Now we need to split data
# taking the data and split into groups
# Avoiding overfitting
# Use built in function train_test_split
# gives 4 outputs
# 0.2 represents 20% of data we will use to test
# stratify based on Y means : we use this so we can avoid the test
# to be fully populated by [1] or by[0] , basically diversity
# stratify - similar proportion of diabetic and non-diabetic cases
# random state > Controls the shuffling applied to the data before
# applying the split. Pass an int for argument

X_train, X_test, Y_train, Y_test =  train_test_split(X, Y, test_size =0.2,
                                                     stratify = Y, 
                                                     random_state = 2  )

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

In [ ]:
# Training the model using svm
# svm-> support vector machine
# SVC-> support vector classifier
# kernel ->> use linear model
classifier = svm.SVC(kernel = 'linear')

In [ ]:
# training svm classifier
# model is trained and stored in classifier
classifier.fit(X_train, Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
# Evaluate our model
# accuracy score

# 1 training data
# this will predict the label for all X_train
# storing all labels in this variable
X_train_prediction = classifier.predict(X_train) # y values from model

# training data accuracy
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
# we are using our trained ML model

# we are comparing Prediction with actual data
# Y-values from the model with real Y values
print("Accuracy score of the training data : ", training_data_accuracy)

Accuracy score of the training data :  0.7866449511400652

In [ ]:
# accuracy score on test data

X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print("Accuracy score of the test data : ", test_data_accuracy)

Accuracy score of the test data :  0.7727272727272727

In [ ]:
# make a prediction giving some info
# making predictive system
input_data = (20,190,72,19,175,25.8,0.587,51)
# 4,110,92,0,0,37.6,0.191,30
# change input_Data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
# we trained the model with 786 data rows, and passing just one instance 
# will confuse the model.
# So, we need to tell the model we need prediction for only 1 data point
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

# we neeed to standardize this instance in the same manner as we 
# standardized the data. using again scaler
std_data=scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

[[ 4.79747774  2.1628039   0.14964075 -0.09637905  0.82661621 -0.78595734
   0.34768723  1.51108316]]
[1]

In [ ]:
if(prediction[0] == 1):
  print("diabetic")
else:
  print("Not diabetic")

diabetic

In [ ]:
print(classifier)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)